WorkWithProject/flows_DESKTOP-2FDL4MK.json
[{"id":"c237ccb2.7c5be8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"2f23d1d7.bac936","type":"tab","label":"Laba2","disabled":true,"info":""},{"id":"a7917d42.617e68","type":"tab","label":"Laba2_WEBAPI","disabled":true,"info":""},{"id":"889c4a02.73e0e8","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"dca965bf.7bf008","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"5df0e589.3e1c9c","type":"tab","label":"Lab3_1","disabled":true,"info":""},{"id":"95411cbb.ac3b18","type":"tab","label":"Edge","disabled":true,"info":""},{"id":"2884811b.d204de","type":"tab","label":"ATV_CTRL","disabled":true,"info":""},{"id":"e6280b0c.1cb458","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"ef8e7026.935f28","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"6183566a.3c6ca","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f29805d3.64afb","type":"ui_tab","z":"","name":"Шишак Альона","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"df57953e.97395","type":"ui_tab","z":"","name":"Закладка 2","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"3a22e8e5.bd481","type":"ui_group","z":"","name":"Шишак","tab":"f29805d3.64afb","disp":true,"width":"6","collapse":false},{"id":"ffad9c6a.abe9c","type":"ui_group","z":"","name":"Альона","tab":"f29805d3.64afb","disp":true,"width":"6","collapse":false},{"id":"bba3e749.ab3a8","type":"modbustcp-server","z":"","name":"PLCSim","host":"127.0.0.1","port":"502","unit_id":"1","reconnecttimeout":"10"},{"id":"900187be.5f8f28","type":"mqtt-broker","z":"","name":"mosquitto","broker":"http://test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7241055.b5739fc","type":"ui_group","name":"Group 1","tab":"df57953e.97395","order":1,"disp":true,"width":6},{"id":"32eddf8e.fc1428","type":"websocket-client","z":"","path":"ws://shyshakalonanodered.eu-gb.mybluemix.net/ws/1","tls":"","wholemsg":"false"},{"id":"996940a8.05e978","type":"websocket-client","z":"","path":"wss://echo.websocket.org","tls":"","wholemsg":"false"},{"id":"8127fb94.2bc69","type":"websocket-listener","z":"","path":"/","wholemsg":"false"},{"id":"232d6e79.42dbca","type":"wiotp-credentials","z":"","name":"SIC101","org":"ijd84a","serverName":"","devType":"ATV630","devId":"SIC101","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"4993f014.fa4808","type":"ui_tab","z":"","name":"ATV SIM","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"6f53c045.7f106","type":"ui_group","z":"","name":"ATV","tab":"4993f014.fa4808","order":1,"disp":true,"width":"6","collapse":false},{"id":"56ffcda2.f7601c","type":"modbustcp-server","z":"","name":"ATV630","host":"192.168.9.99","port":"502","unit_id":"0","reconnecttimeout":""},{"id":"a9e6636e.7920d","type":"ui_group","z":"","name":"Стан","tab":"743767ce.c74958","order":2,"disp":true,"width":"6","collapse":false},{"id":"e3bec042.ab721","type":"ui_group","z":"","name":"Керування","tab":"743767ce.c74958","order":1,"disp":true,"width":"6","collapse":false},{"id":"743767ce.c74958","type":"ui_tab","z":"","name":"ATV","icon":"dashboard","order":8},{"id":"c2bdd15b.60bbd","type":"wiotp-credentials","z":"","name":"","org":"ijd84a","serverName":"","devType":"TEST","devId":"TEST1","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"333d6c1f.31de5c","type":"inject","z":"c237ccb2.7c5be8","name":"Початок","topic":"topic1","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["a5135678.024588","c4114f63.387ee8","f151c063.bf349","bf6264df.3d376","3465d655.34a172","c1af85f8.610c88"]]},{"id":"1b7002fb.56d2b5","type":"debug","z":"c237ccb2.7c5be8","name":"Debug1","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":160,"wires":[]},{"id":"c4114f63.387ee8","type":"delay","z":"c237ccb2.7c5be8","name":"delay 1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":240,"wires":[["1a804e7a.824efa"]]},{"id":"a5135678.024588","type":"change","z":"c237ccb2.7c5be8","name":"set1","rules":[{"t":"set","p":"payload","pt":"msg","to":"один","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":160,"wires":[["1b7002fb.56d2b5","39599866.1b3ad8"]]},{"id":"f151c063.bf349","type":"delay","z":"c237ccb2.7c5be8","name":"delay 2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":300,"wires":[["1662ae86.f66e71"]]},{"id":"bf6264df.3d376","type":"delay","z":"c237ccb2.7c5be8","name":"delay 3s","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":360,"wires":[["8d0f84cd.079638"]]},{"id":"3465d655.34a172","type":"delay","z":"c237ccb2.7c5be8","name":"delay 4s","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":420,"wires":[["b6119e6d.d3d628"]]},{"id":"1a804e7a.824efa","type":"change","z":"c237ccb2.7c5be8","name":"set2","rules":[{"t":"set","p":"payload","pt":"msg","to":"два","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":240,"wires":[["1b7002fb.56d2b5","39599866.1b3ad8"]]},{"id":"1662ae86.f66e71","type":"change","z":"c237ccb2.7c5be8","name":"set3","rules":[{"t":"set","p":"payload","pt":"msg","to":"три","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":300,"wires":[["1b7002fb.56d2b5","39599866.1b3ad8"]]},{"id":"8d0f84cd.079638","type":"change","z":"c237ccb2.7c5be8","name":"set4","rules":[{"t":"set","p":"payload","pt":"msg","to":"чотири","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":360,"wires":[["1b7002fb.56d2b5","39599866.1b3ad8"]]},{"id":"b6119e6d.d3d628","type":"change","z":"c237ccb2.7c5be8","name":"set5","rules":[{"t":"set","p":"payload","pt":"msg","to":"п’ять","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":420,"wires":[["1b7002fb.56d2b5","39599866.1b3ad8"]]},{"id":"c1af85f8.610c88","type":"function","z":"c237ccb2.7c5be8","name":"ДатаЧас","func":"var date1 = new Date(msg.payload);\nmsg.payload='Дата початку: ' + date1.toLocaleString();\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":540,"wires":[["8a1a1ca9.6c4618","6068c47d.d0ecf4"]]},{"id":"8a1a1ca9.6c4618","type":"debug","z":"c237ccb2.7c5be8","name":"Debug2","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":540,"wires":[]},{"id":"6068c47d.d0ecf4","type":"ui_text","z":"c237ccb2.7c5be8","group":"3a22e8e5.bd481","order":0,"width":0,"height":0,"name":"","label":"Дата","format":"{{msg.payload}}","layout":"row-spread","x":785,"y":643,"wires":[]},{"id":"39599866.1b3ad8","type":"ui_text","z":"c237ccb2.7c5be8","group":"ffad9c6a.abe9c","order":0,"width":0,"height":0,"name":"","label":"Число","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":260,"wires":[]},{"id":"b897082d.87a488","type":"ui_slider","z":"c237ccb2.7c5be8","name":"","label":"Задана температура","tooltip":"","group":"3a22e8e5.bd481","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":268,"y":771,"wires":[["aa562e59.501ea","279a2289.0fc42e","b3a3ec20.c5a8a8","7759087b.991418"]]},{"id":"aa562e59.501ea","type":"function","z":"c237ccb2.7c5be8","name":"В текст","func":"msg.payload=msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":505,"y":888,"wires":[["586e8a37.39a784"]]},{"id":"279a2289.0fc42e","type":"ui_gauge","z":"c237ccb2.7c5be8","name":"","group":"3a22e8e5.bd481","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"90","x":743,"y":741,"wires":[]},{"id":"586e8a37.39a784","type":"ui_audio","z":"c237ccb2.7c5be8","name":"","group":"3a22e8e5.bd481","voice":"ru-RU","always":"","x":748,"y":882,"wires":[]},{"id":"b3a3ec20.c5a8a8","type":"switch","z":"c237ccb2.7c5be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"50","v2t":"num"},{"t":"gte","v":"51","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":496,"y":1059,"wires":[["6059b7fb.c89318"],["49d29c07.439ebc"]]},{"id":"6059b7fb.c89318","type":"change","z":"c237ccb2.7c5be8","name":"Norma","rules":[{"t":"set","p":"payload","pt":"msg","to":"НОРМА","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"GREEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1022,"wires":[["2d6cd71.69cde28"]]},{"id":"49d29c07.439ebc","type":"change","z":"c237ccb2.7c5be8","name":"Alarm","rules":[{"t":"set","p":"payload","pt":"msg","to":"АВАРІЯ","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"RED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":708,"y":1110,"wires":[["2d6cd71.69cde28","9b94c562.59d458"]]},{"id":"2d6cd71.69cde28","type":"ui_button","z":"c237ccb2.7c5be8","name":"","group":"3a22e8e5.bd481","order":4,"width":0,"height":0,"passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"","payload":"","payloadType":"str","topic":"","x":923,"y":1063,"wires":[[]]},{"id":"9b94c562.59d458","type":"e-mail","z":"c237ccb2.7c5be8","server":"smtp.ukr.net","port":"465","secure":true,"tls":true,"name":"al_sh_94@ukr.net","dname":"","x":959,"y":1147,"wires":[]},{"id":"cbf13fd2.066ce8","type":"inject","z":"c237ccb2.7c5be8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":587,"y":1190,"wires":[["9b94c562.59d458"]]},{"id":"7113cc4b.b55a64","type":"modbustcp-read","z":"c237ccb2.7c5be8","name":"Читання регістрів","topic":"","dataType":"HoldingRegister","adr":"0","quantity":"10","rate":"5","rateUnit":"s","server":"bba3e749.ab3a8","ieeeType":"off","ieeeBE":true,"x":235,"y":1314,"wires":[["62e49de7.14e6ec","d4f00282.e57628","b93ae363.21167"]]},{"id":"62e49de7.14e6ec","type":"debug","z":"c237ccb2.7c5be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":525,"y":1309,"wires":[]},{"id":"d4f00282.e57628","type":"change","z":"c237ccb2.7c5be8","name":"Визначити температуру","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":539,"y":1451,"wires":[["868fbcb0.a976a8"]]},{"id":"b93ae363.21167","type":"change","z":"c237ccb2.7c5be8","name":"Визначити рівень","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":515,"y":1514,"wires":[["c9c6b2f.b5ed45"]]},{"id":"c9c6b2f.b5ed45","type":"ui_gauge","z":"c237ccb2.7c5be8","name":"","group":"ffad9c6a.abe9c","order":2,"width":0,"height":0,"gtype":"wave","title":"Рівень","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"90","x":850,"y":1517,"wires":[]},{"id":"868fbcb0.a976a8","type":"ui_gauge","z":"c237ccb2.7c5be8","name":"","group":"ffad9c6a.abe9c","order":2,"width":"3","height":"3","gtype":"donut","title":"Температура","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"90","x":875,"y":1444,"wires":[]},{"id":"74bf190f.4b5738","type":"modbustcp-write","z":"c237ccb2.7c5be8","name":"","topic":"","dataType":"HoldingRegisters","adr":"10","server":"bba3e749.ab3a8","x":467,"y":1138,"wires":[]},{"id":"7759087b.991418","type":"function","z":"c237ccb2.7c5be8","name":"INT to ARINT","func":"msg.payload = [msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":1141,"wires":[["74bf190f.4b5738"]]},{"id":"c09bfa0e.688218","type":"inject","z":"c237ccb2.7c5be8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":206,"y":1738,"wires":[["580d4170.cc171"]]},{"id":"580d4170.cc171","type":"NetworkIntf","z":"c237ccb2.7c5be8","name":"","x":417,"y":1739,"wires":[["4bf99c59.e4d5c4"]]},{"id":"87cf38ef.dd935","type":"debug","z":"c237ccb2.7c5be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":907,"y":1823,"wires":[]},{"id":"4bf99c59.e4d5c4","type":"function","z":"c237ccb2.7c5be8","name":"MACs","func":"var obmsg = msg.payload.networkInterfaces;\nvar obInterface ={};\nvar MACs=[];\nvar i =0;\nfor (var keyIf in obmsg) {\n    obInterface = obmsg [keyIf];\n    MACs[i++]='MAC' + i + ' '+obInterface[0].mac;\n}\nmsg.payload=MACs;\nreturn msg;","outputs":1,"noerr":0,"x":609,"y":1825,"wires":[["87cf38ef.dd935","b6962337.657d2"]]},{"id":"b6962337.657d2","type":"ui_text","z":"c237ccb2.7c5be8","group":"ffad9c6a.abe9c","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":909,"y":1920,"wires":[]},{"id":"dda14ab6.7d50d8","type":"mqtt in","z":"2f23d1d7.bac936","name":"Variant44","topic":"NUFT TI4/Variant44/#","qos":"1","datatype":"auto","broker":"900187be.5f8f28","x":340,"y":268,"wires":[["d3b236dc.a0a618"]]},{"id":"d3b236dc.a0a618","type":"debug","z":"2f23d1d7.bac936","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":665,"y":263,"wires":[]},{"id":"1357a55.9ea6b5b","type":"ui_slider","z":"2f23d1d7.bac936","name":"","label":"Задана температура","tooltip":"","group":"7241055.b5739fc","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":290,"y":391,"wires":[["b61b957d.a18618"]]},{"id":"b61b957d.a18618","type":"mqtt out","z":"2f23d1d7.bac936","name":"","topic":"NUFT TI4/Variant44/TT101","qos":"1","retain":"","broker":"900187be.5f8f28","x":649,"y":390,"wires":[]},{"id":"1305738e.5208c4","type":"mqtt in","z":"2f23d1d7.bac936","name":"","topic":"NUFT TI4/Variant44/Klapan","qos":"1","datatype":"auto","broker":"900187be.5f8f28","x":515,"y":496,"wires":[["8627800b.a9a12"]]},{"id":"8627800b.a9a12","type":"ui_gauge","z":"2f23d1d7.bac936","name":"","group":"7241055.b5739fc","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":497,"wires":[]},{"id":"3268d6a9.1f6d42","type":"inject","z":"2f23d1d7.bac936","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":159,"y":733,"wires":[["c0a24c13.647988"]]},{"id":"c0a24c13.647988","type":"function","z":"2f23d1d7.bac936","name":"sin","func":"var a;\na = msg.payload/10000;\nmsg.payload = (Math.sin (a)+1.0)*25.0+25;\nreturn msg;","outputs":1,"noerr":0,"x":362,"y":744,"wires":[["1357a55.9ea6b5b"]]},{"id":"633cdffe.802fc","type":"inject","z":"a7917d42.617e68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":89,"wires":[["2538206b.48f48"]]},{"id":"2538206b.48f48","type":"file in","z":"a7917d42.617e68","name":"Скан","filename":"C:\\Temp\\barcods\\bar.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":253,"y":86,"wires":[["1d7ffc47.2b12cc"]]},{"id":"4863100d.ab7948","type":"debug","z":"a7917d42.617e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1143,"y":79,"wires":[]},{"id":"1d7ffc47.2b12cc","type":"function","z":"a7917d42.617e68","name":"Формувати Запит","func":"//формування корисного навантаження для POST\n//складається зі статичного тексту з описом розділу\n//та змісту розділу, який є типом image/jpeg що береться з файлу\n//деталі - https://developer.mozilla.org/uk/docs/Web/HTTP/Basics_of_HTTP/MIME_types#multipartform-data \nvar tmp1;//верхня частина - початок розділу\nvar tmp2;//нижня частина - закінчення розділу\ntmp1 = '-----------------------------12818302946532\\r\\n';//межа початку розділу\ntmp1 += 'Content-Disposition: form-data; name=\"f\"; filename=\"1.jpg\"\\r\\n';//заголовок розділу\ntmp1 += 'Content-Type: image/jpeg\\r\\n\\r\\n';//заголовок розділу\ntmp2 = '\\r\\n-----------------------------12818302946532--';//межа кінця розділу\nvar buf1 = Buffer.from(tmp1);//перетворення тексту в бінарний буфер\nvar buf3 = Buffer.from(tmp2);//перетворення тексту в бінарний буфер\nvar ar =[buf1, msg.payload, buf3];//об'єднання буферів та вмісту файлу в один масив\nmsg.payload =  Buffer.concat(ar);//перетворення масиву в один буфер\n\n//формування заголовків запиту\nmsg.headers = {};//об'явили як об'єкт\nmsg.headers[\"host\"] = \"zxing.org\";\nmsg.headers[\"accept-encoding\"] = \"gzip, deflate, br\";\nmsg.headers[\"accept\"] = \"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8\";\nmsg.headers[\"content-type\"]= \"multipart/form-data; boundary=---------------------------12818302946532\";\nvar len = msg.payload.length;//визначаємо довжину тіла запиту\nmsg.headers[\"content-length\"] = len.toString();//перетворюємо в текст \nmsg.headers[\"referer\"] = \"https://zxing.org/w/decode.jspx\";\nmsg.headers[\"connection\"] = \"keep-alive\";\nmsg.headers[\"upgrade-insecure-requests\"] = 1;\nreturn msg;//повідомлення для відправки методом POST","outputs":1,"noerr":0,"x":463,"y":84,"wires":[["c8e5e0e.938902"]]},{"id":"c8e5e0e.938902","type":"http request","z":"a7917d42.617e68","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://zxing.org/w/decode","tls":"","proxy":"","authType":"basic","x":662,"y":83,"wires":[["74b057d2.cc7418"]]},{"id":"74b057d2.cc7418","type":"html","z":"a7917d42.617e68","name":"","property":"payload","outproperty":"payload","tag":"#result pre","ret":"text","as":"single","x":845,"y":81,"wires":[["434c0f3.73aa87"]]},{"id":"434c0f3.73aa87","type":"function","z":"a7917d42.617e68","name":"","func":"msg.ID = (msg.statusCode==200)? msg.payload[2]: \"error\";\nreturn msg;","outputs":1,"noerr":0,"x":1004,"y":80,"wires":[["4863100d.ab7948"]]},{"id":"91fecd6d.de9118","type":"inject","z":"889c4a02.73e0e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":127,"wires":[["10f19555.81006b"]]},{"id":"eb757a69.66798","type":"debug","z":"889c4a02.73e0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":111,"wires":[]},{"id":"10f19555.81006b","type":"function","z":"889c4a02.73e0e8","name":"Формувати Запит","func":"//формування корисного навантаження для POST\n//складається зі статичного тексту з описом розділу\n//та змісту розділу, який є типом image/jpeg що береться з файлу\n//деталі - https://developer.mozilla.org/uk/docs/Web/HTTP/Basics_of_HTTP/MIME_types#multipartform-data \n//перетворення масиву в один буфер\n\n//формування заголовків запиту\nmsg.headers = {};//об'явили як об'єкт\nmsg.headers[\"Accept\"] = \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8\";\nmsg.headers[\"Accept-Encoding\"] = \"gzip, deflate, br\";\nmsg.headers[\"Accept-Language\"] = \"uk-UA,uk;q=0.8,en-US;q=0.5,en;q=0.3\";\nmsg.headers[\"Cache-Control\"] = \"no-cache\";\nmsg.headers[\"Connection\"]=\"keep-alive\";\n//msg.headers[\"Cookie\"]=\"__cfduid=d32f319da19dc86a6f0691f0e999950f21553513626; csrftoken=HaqYAHVFwoCgi8zk3LqA4hcq4Xdr8dpNKjkDWibXZxNTLYd2iwPjzNZpUUlTEzBg; paddlejs_checkout_variant={\"inTest\":true,\"controlGroup\":false,\"isForced\":false,\"variant\":\"multipage-compact-payment\"}; paddlejs_campaign_referrer=edu.asu.in.ua; _ga=GA1.2.1003468228.1553513629; _gid=GA1.2.220000570.1553513629\" ;\nmsg.headers[\"Host\"] = \"ipapi.co\";\nmsg.headers[\"Pragma\"] = \"no-cache\";\nmsg.headers[\"Referer\"] = \"http://edu.asu.in.ua/mod/book/view.php?id=122&chapterid=300\";\nmsg.headers[\"TE\"] = \"Trailers\";\nmsg.headers[\"Upgrade-Insecure-Requests\"] = \"1\";\nmsg.headers[\"User-Agent\"] = \"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:65.0) Gecko/20100101 Firefox/65.0\";\nreturn msg;//повідомлення для відправки методом POST","outputs":1,"noerr":0,"x":524,"y":122,"wires":[["efeedd3.2e590a"]]},{"id":"efeedd3.2e590a","type":"http request","z":"889c4a02.73e0e8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://ipapi.co/json/","tls":"","proxy":"","authType":"basic","x":760,"y":117,"wires":[["eb757a69.66798"]]},{"id":"e7d8d4c.5d851a8","type":"inject","z":"dca965bf.7bf008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":199,"y":129,"wires":[["676b1b7c.d39e0c","91a2fe76.b3f4e8"]]},{"id":"676b1b7c.d39e0c","type":"websocket out","z":"dca965bf.7bf008","name":"","server":"","client":"32eddf8e.fc1428","x":672,"y":124,"wires":[]},{"id":"91a2fe76.b3f4e8","type":"websocket out","z":"dca965bf.7bf008","name":"","server":"","client":"996940a8.05e978","x":545,"y":295,"wires":[]},{"id":"dcf64c9.c711c3","type":"websocket in","z":"dca965bf.7bf008","name":"","server":"","client":"996940a8.05e978","x":308,"y":446,"wires":[["ceb52fc0.e9f428"]]},{"id":"ceb52fc0.e9f428","type":"debug","z":"dca965bf.7bf008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":608,"y":432,"wires":[]},{"id":"12cc8b5f.139b6d","type":"websocket in","z":"a7917d42.617e68","name":"","server":"8127fb94.2bc69","client":"","x":133,"y":340,"wires":[["95b49960.31c7d"]]},{"id":"3418dd32.566cd2","type":"debug","z":"a7917d42.617e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":198,"wires":[]},{"id":"95b49960.31c7d","type":"function","z":"a7917d42.617e68","name":"","func":"msg.ID = msg.payload.toString().slice(0,-2);\nmsg.sourceID = \"Android\";\nreturn msg;","outputs":1,"noerr":0,"x":327,"y":350,"wires":[["3418dd32.566cd2"]]},{"id":"52641012.e4e788","type":"inject","z":"5df0e589.3e1c9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":194.7499885559082,"y":291.5,"wires":[["d419b966.9d7d2"]]},{"id":"d46d4db.295f8b","type":"websocket out","z":"5df0e589.3e1c9c","name":"","server":"","client":"32eddf8e.fc1428","x":622.7499847412109,"y":118.83334350585938,"wires":[]},{"id":"d419b966.9d7d2","type":"function","z":"5df0e589.3e1c9c","name":"","func":"var a, ramp, val, ts;\nts=msg.payload;\na=msg.payload/10000;\nramp=(msg.payload % 60000)/1000;\nval=(Math.sin(a)+1.0)*50;\nmsg.payload = {};\nmsg.payload.ramp = ramp;\nmsg.payload.sin = val;\nmsg.payload.ts = ts;\nreturn msg;","outputs":1,"noerr":0,"x":341.75,"y":264.3333740234375,"wires":[["d46d4db.295f8b"]]},{"id":"a8d7437c.bb4288","type":"wiotp out","z":"95411cbb.ac3b18","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"232d6e79.42dbca","deviceType":"","deviceId":"","event":"STA_change","format":"json","qos":"1","name":"","x":808.75,"y":166,"wires":[]},{"id":"50b40a52.c587dc","type":"ui_text_input","z":"95411cbb.ac3b18","name":"","label":"RFR","tooltip":"","group":"6f53c045.7f106","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"RFR","x":329.7499694824219,"y":228.83334350585938,"wires":[["7b4d54c2.48c314"]]},{"id":"9d81270c.66b58","type":"ui_text_input","z":"95411cbb.ac3b18","name":"","label":"STA","tooltip":"","group":"6f53c045.7f106","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"STA","x":334.1666564941406,"y":276.1666564941406,"wires":[["7b4d54c2.48c314"]]},{"id":"1abdd74f.e0e5a9","type":"ui_text_input","z":"95411cbb.ac3b18","name":"","label":"I","tooltip":"","group":"6f53c045.7f106","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"I","x":334.1666564941406,"y":333.1666564941406,"wires":[["7b4d54c2.48c314"]]},{"id":"18ade11e.81a947","type":"ui_text_input","z":"95411cbb.ac3b18","name":"","label":"M","tooltip":"","group":"6f53c045.7f106","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"M","x":326.1666564941406,"y":370.1666564941406,"wires":[["7b4d54c2.48c314"]]},{"id":"68e2f914.a617c","type":"ui_text_input","z":"95411cbb.ac3b18","name":"","label":"U","tooltip":"","group":"6f53c045.7f106","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"U","x":323.1666564941406,"y":407.1666564941406,"wires":[["7b4d54c2.48c314"]]},{"id":"29db0a1.e3699f6","type":"ui_text_input","z":"95411cbb.ac3b18","name":"","label":"P","tooltip":"","group":"6f53c045.7f106","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"P","x":321.1666564941406,"y":446.1666564941406,"wires":[["7b4d54c2.48c314"]]},{"id":"58a35e9a.570ca","type":"ui_text_input","z":"95411cbb.ac3b18","name":"","label":"TOTDRIVE","tooltip":"","group":"6f53c045.7f106","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"TOTDRIVE","x":335.1666564941406,"y":483.1666564941406,"wires":[["7b4d54c2.48c314"]]},{"id":"d12f8ec5.0265c8","type":"ui_text_input","z":"95411cbb.ac3b18","name":"","label":"TOTMOTOR","tooltip":"","group":"6f53c045.7f106","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"TOTMOTOR","x":334.1666564941406,"y":520.1666870117188,"wires":[["7b4d54c2.48c314"]]},{"id":"1e12b95f.e01ce7","type":"ui_text_input","z":"95411cbb.ac3b18","name":"","label":"ALMTIME","tooltip":"","group":"6f53c045.7f106","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"ALMTIME","x":329.1666564941406,"y":556.1666870117188,"wires":[["7b4d54c2.48c314"]]},{"id":"a4dfaf44.fb111","type":"ui_text_input","z":"95411cbb.ac3b18","name":"","label":"ACTPWR","tooltip":"","group":"6f53c045.7f106","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"ACTPWR","x":328.1666564941406,"y":592.1667175292969,"wires":[["7b4d54c2.48c314"]]},{"id":"c3be728e.478dc","type":"ui_text_input","z":"95411cbb.ac3b18","name":"","label":"CMD","tooltip":"","group":"6f53c045.7f106","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"CMD","x":318.1666564941406,"y":635.1667175292969,"wires":[["7b4d54c2.48c314"]]},{"id":"190a9578.7a7f73","type":"ui_text_input","z":"95411cbb.ac3b18","name":"","label":"REF","tooltip":"","group":"6f53c045.7f106","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"REF","x":322.1666564941406,"y":675.1667175292969,"wires":[["7b4d54c2.48c314"]]},{"id":"7b4d54c2.48c314","type":"function","z":"95411cbb.ac3b18","name":"CNTXT","func":"var ATV = flow.get('ATV') || {};\nif (typeof (ATV) !== 'object') ATV={};\nATV[msg.topic] = msg.payload;\nflow.set ('ATV', ATV);\nmsg.payload = ATV;\nreturn msg;","outputs":1,"noerr":0,"x":596.75,"y":461.5000915527344,"wires":[["ccc8d491.daf518"]]},{"id":"ccc8d491.daf518","type":"debug","z":"95411cbb.ac3b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920.75,"y":342.6667175292969,"wires":[]},{"id":"c83777c2.16a0e8","type":"inject","z":"95411cbb.ac3b18","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":370.1666564941406,"y":168.16665649414062,"wires":[["3627a1a0.ff08e6"]]},{"id":"3627a1a0.ff08e6","type":"change","z":"95411cbb.ac3b18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ATV","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":576.75,"y":169.83334350585938,"wires":[["a8d7437c.bb4288"]]},{"id":"2a46bdd3.d78062","type":"inject","z":"95411cbb.ac3b18","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":123.08332824707031,"y":42.083335876464844,"wires":[["8b05f24a.8d2818"]]},{"id":"8b05f24a.8d2818","type":"function","z":"95411cbb.ac3b18","name":"","func":"var a, ramp, val, ts;\nts=msg.payload;\na=msg.payload/10000;\nramp=(msg.payload % 60000)/1000;\nval=(Math.sin(a)+1.0)*50;\nmsg.payload = {};\nmsg.payload.ramp = ramp;\nmsg.payload.sin = val;\nmsg.payload.ts = ts;\nreturn msg;","outputs":1,"noerr":0,"x":270.08331298828125,"y":41.916709899902344,"wires":[["f9e78f39.c6e9e","67f282e7.f5f164"]]},{"id":"f9e78f39.c6e9e","type":"change","z":"95411cbb.ac3b18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ramp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":475.08331298828125,"y":49.083335876464844,"wires":[[]]},{"id":"67f282e7.f5f164","type":"change","z":"95411cbb.ac3b18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":466.08331298828125,"y":113.08333587646484,"wires":[[]]},{"id":"720c38a9.8f736","type":"modbustcp-read","z":"2884811b.d204de","name":"READ","topic":"READ","dataType":"HoldingRegister","adr":"3201","quantity":"100","rate":"1","rateUnit":"s","server":"56ffcda2.f7601c","ieeeType":"off","ieeeBE":true,"x":58.00000762939453,"y":126,"wires":[["f32eee24.baab8"]]},{"id":"d892cb2c.39d318","type":"inject","z":"2884811b.d204de","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":480,"wires":[["e1525523.2142b"]]},{"id":"b443335b.afa218","type":"debug","z":"2884811b.d204de","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":40,"wires":[]},{"id":"761d16eb.8ab3d8","type":"modbustcp-write","z":"2884811b.d204de","name":"Write","topic":"CMD","dataType":"HoldingRegister","adr":"8501","server":"56ffcda2.f7601c","x":530,"y":360,"wires":[]},{"id":"f32eee24.baab8","type":"function","z":"2884811b.d204de","name":"ATV","func":"/*\nSTA - 3201 статус\nRFR - 3202 плинна частота в 0.1 Гц\nI - 3204 струм 0.1 А\nM - 3205 момент, 0.001 \"Nominal motor torque\"\nU - 3208 напруга,  В\nP - 3211 потужність, %\nCMD - 8501 слово команди\nREF - 8502 задана частота в 0.1 Гц\nTOTDRIVE - 3244 \nTOTMOTOR - 3246\nALMTIME - 3235\nActive Electrical output power estimation 3293 - [kWh Counters] \n\n*/\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nmsg2.payload = 0;\n\nvar ATV = context.get('ATV') || {};\nvar CMD = ATV.CMD || 0;\nvar SP = ATV.SP || 0;\n\nif (msg.topic == \"SP\") {\n    SP = msg.payload * 5;\n    msg1 = null;\n    msg2 = null;\n    msg3.payload = SP; \n}\nif (msg.topic == \"CMD\") {\n    CMD = msg.payload;\n    msg1 = null; \n    msg3 = null;     \n}\nif (msg.topic == \"READ\") {\n    ATV = READ (msg);\n    msg1.payload = ATV; \n    msg3=null; \n}\n\nif (ATV !== undefined && msg.topic!=\"SP\") {\n    switch (CMD){\n        case 1://start\n            msg2.payload = CMDSTART(ATV);\n            if ((ATV.STA & 0x00FF) == 0x37) CMD=0;  \n            break;\n        case 2://stop \n            msg2.payload = 0;\n            CMD = 0;\n            break;\n        default:\n            msg2=null;\n    }\n}\n\n\nATV.CMD = CMD;\nATV.SP = SP;\ncontext.set (\"ATV\", ATV);\nreturn [msg1, msg2, msg3];\n\nfunction READ (msg){\n    var regs = [];\n    var params ={\"regs\":[], \"RFR\":0, \"txtSTA\": \"невизначений\",\"STA\":0, \"I\":0, \"U\":0, \"M\":0};\n    regs = msg.payload;\n    params.regs = msg.payload;\n    params.STA = regs [0];\n    params.RFR = regs [1]/10;\n    params.I = regs [3]/10;\n    params.M = regs [4]/1000;\n    params.U = regs [7];\n    params.TOTDRIVE = regs [43]; \n    params.TOTMOTOR = regs [45];\n    params.ALMTIME = regs [34];\n\n    var hexSTA = (params.STA & 0x00FF).toString (16);\n    switch (hexSTA){\n        case \"40\": case \"50\":\n             params.txtSTA = \"Switch on disabled\";\n            break;\n        case \"21\": case \"31\":\n             params.txtSTA = \"Ready to switch on\";\n            break;\n        case \"33\":\n             params.txtSTA = \"Switched on\";\n            break;    \n        case \"37\":\n             params.txtSTA = \"Operation enabled\";\n            break;    \n        case \"17\":\n             params.txtSTA = \"Switch on disabled\";\n            break; \n        default:\n        params.txtSTA = (params.STA & 0x000F == 8) ? \"fault\" : \"невизначений\"; \n    }\n    params.txtSTA = params.txtSTA + \" (xx\" + hexSTA + \")\"\n    return params;\n}\n\nfunction CMDSTART(ATV){\n    if (ATV===null) return 0; \n    var hexCMD = 0;\n    var hexSTA = (ATV.STA & 0x00FF).toString (16);\n    switch (hexSTA){\n        case \"40\", \"50\":\n            hexCMD=0x6;\n            break;\n        case \"21\", \"31\":\n            hexCMD=0x7;\n            break;\n        case \"33\":\n            hexCMD=0xf;\n            break;    \n        case \"37\":\n            hexCMD=0xf;\n            break;    \n        default:\n            hexCMD=0x80;\n    }\n    return hexCMD;    \n}\n\n\n\n","outputs":3,"noerr":0,"x":226.99998474121094,"y":151,"wires":[["b443335b.afa218","761df54.7b2670c","fa63c824.cc6fc","5d97ca42.fd6374","548d1652.3d40b8","992eaa3b.8b598","e8b916f9.22617","47798985.c77ad","35e03636.6ad80a"],["4df5765e.1e1a6","761d16eb.8ab3d8"],["78a7ddf2.97847c","96be140d.da33a8"]]},{"id":"761df54.7b2670c","type":"ui_text","z":"2884811b.d204de","group":"a9e6636e.7920d","order":0,"width":0,"height":0,"name":"","label":"Статус","format":"{{msg.payload.txtSTA}}","layout":"row-left","x":560,"y":80,"wires":[]},{"id":"fa63c824.cc6fc","type":"ui_text","z":"2884811b.d204de","group":"a9e6636e.7920d","order":0,"width":0,"height":0,"name":"","label":"Частота","format":"{{msg.payload.RFR}}","layout":"row-left","x":560,"y":120,"wires":[]},{"id":"5d97ca42.fd6374","type":"ui_text","z":"2884811b.d204de","group":"a9e6636e.7920d","order":0,"width":0,"height":0,"name":"","label":"Напруга","format":"{{msg.payload.U}}","layout":"row-left","x":560,"y":160,"wires":[]},{"id":"548d1652.3d40b8","type":"ui_text","z":"2884811b.d204de","group":"a9e6636e.7920d","order":0,"width":0,"height":0,"name":"","label":"Струм","format":"{{msg.payload.I}}","layout":"row-left","x":550,"y":200,"wires":[]},{"id":"992eaa3b.8b598","type":"ui_text","z":"2884811b.d204de","group":"a9e6636e.7920d","order":0,"width":0,"height":0,"name":"","label":"Момент","format":"{{msg.payload.M}}","layout":"row-left","x":560,"y":240,"wires":[]},{"id":"8e65e754.99cb78","type":"ui_slider","z":"2884811b.d204de","name":"Задана","label":"Задана частота","group":"e3bec042.ab721","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"SP","min":0,"max":"100","step":1,"x":160,"y":220,"wires":[["f32eee24.baab8"]]},{"id":"d0dac107.851908","type":"ui_button","z":"2884811b.d204de","name":"Пуск","group":"e3bec042.ab721","order":0,"width":0,"height":0,"passthru":false,"label":"ПУСК","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"CMD","x":160,"y":260,"wires":[["f32eee24.baab8"]]},{"id":"9bc109b4.b8cbb","type":"ui_button","z":"2884811b.d204de","name":"Стоп","group":"e3bec042.ab721","order":0,"width":0,"height":0,"passthru":false,"label":"СТОП","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"CMD","x":150,"y":300,"wires":[["f32eee24.baab8"]]},{"id":"4df5765e.1e1a6","type":"debug","z":"2884811b.d204de","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":260,"wires":[]},{"id":"96be140d.da33a8","type":"modbustcp-write","z":"2884811b.d204de","name":"Write","topic":"","dataType":"HoldingRegister","adr":"8502","server":"56ffcda2.f7601c","x":550,"y":440,"wires":[]},{"id":"78a7ddf2.97847c","type":"debug","z":"2884811b.d204de","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":300,"wires":[]},{"id":"e8b916f9.22617","type":"ui_text","z":"2884811b.d204de","group":"a9e6636e.7920d","order":0,"width":0,"height":0,"name":"","label":"TOTDRIVE","format":"{{msg.payload.TOTDRIVE}}","layout":"row-left","x":710,"y":80,"wires":[]},{"id":"47798985.c77ad","type":"ui_text","z":"2884811b.d204de","group":"a9e6636e.7920d","order":0,"width":0,"height":0,"name":"","label":"TOTMOTOR","format":"{{msg.payload.TOTMOTOR}}","layout":"row-left","x":710,"y":120,"wires":[]},{"id":"e1525523.2142b","type":"modbustcp-read","z":"2884811b.d204de","name":"READ","topic":"READ","dataType":"HoldingRegister","adr":"10601","quantity":"40","rate":"1","rateUnit":"h","server":"56ffcda2.f7601c","ieeeType":"off","ieeeBE":true,"x":270,"y":540,"wires":[[]]},{"id":"a215d1eb.31dbf8","type":"function","z":"e6280b0c.1cb458","name":"","func":"/*Motor energy consumption (Wh)\t16#2969 = 10601\nMotor energy consumption (kWh)\t16#296A = 10602\nMotor energy consumption (MWh)\t16#296B = 10603\nMotor energy consumption (GWh)\t16#296C = 10604\nMotor energy consumption (TWh)\t16#296D = 10605\nElectrical energy consumed by the motor (Wh)\t16#296E = 10606\nElectrical energy consumed by the motor (KWh)\t16#296F = 10607\nElectrical energy consumed by the motor (MWh)\t16#2970 = 10608\nElectrical energy consumed by the motor (GWh)\t16#2971 = 10609\nElectrical energy consumed by the motor (TWh)\t16#2972 = 10610\nElectrical energy produced by the motor (Wh)\t16#2973 = 10611\nElectrical energy produced by the motor (KWh)\t16#2974 = 10612\nElectrical energy produced by the motor (MWh)\t16#2975 = 10613\nElectrical energy produced by the motor (GWh)\t16#2976 = 10614\nElectrical energy produced by the motor (TWh)\t16#2977 = 10615\nReal energy consumption (Wh)\t16#2978 = 10616\nReal energy consumption (kWh)\t16#2979 = 10617\nReal energy consumption (MWh)\t16#297A = 10618\nReal energy consumption (GWh)\t16#297B = 10619\nReal energy consumption (TWh)\t16#297C = 10620\nElectrical energy consumed TODAY by the motor (KWh)\t16#297E = 10622\nElectrical energy consumed YESTERDAY by the motor (KWh)\t16#2980 = 10624\nInput Energy (Wh)\t16#2982 = 10626\nInput Energy (kWh)\t16#2983 = 10627\nInput Energy (MWh)\t16#2984 = 10628\nInput Energy (GWh)\t16#2985 = 10629\nInput Energy (TWh)\t16#2986 = 10630\nReal Input Energy (Wh)\t16#298C = 10636\nReal Input Energy (kWh)\t16#298D = 10637\nReal Input Energy (MWh)\t16#298E = 10638\nReal Input Energy (GWh)\t16#298F = 10639\nReal Input Energy (TWh)\t16#2990 = 10640\nPeak Output Power \t16#2991 = 10641\n*/\nmsg.payload =msg.payload +10;\nreturn msg;","outputs":1,"noerr":0,"x":431.08331298828125,"y":153.08334350585938,"wires":[["dd11007.f20d28"]]},{"id":"35e03636.6ad80a","type":"link out","z":"2884811b.d204de","name":"ATV_CTRL","links":["5c22e413.2cab3c"],"x":260.8666534423828,"y":70.66665649414062,"wires":[]},{"id":"5c22e413.2cab3c","type":"link in","z":"95411cbb.ac3b18","name":"","links":["35e03636.6ad80a"],"x":56.866668701171875,"y":329.25,"wires":[["7da1a973.9d85a8"]]},{"id":"7da1a973.9d85a8","type":"function","z":"95411cbb.ac3b18","name":"","func":"var params = msg.payload;\nvar msg1 = [{payload:params.RFR},\n{payload:params.STA},\n{payload:params.I},\n{payload:params.M},\n{payload:params.U},\n{payload:params.TOTMOTOR},\n{payload:params.TOTDRIVE},\n{payload:params.ALMTIME}];\nreturn msg1;","outputs":8,"noerr":0,"x":167.86663055419922,"y":306.75,"wires":[["50b40a52.c587dc"],["9d81270c.66b58"],["1abdd74f.e0e5a9"],["18ade11e.81a947"],["68e2f914.a617c"],["d12f8ec5.0265c8"],["58a35e9a.570ca"],["1e12b95f.e01ce7"]]},{"id":"dd11007.f20d28","type":"debug","z":"e6280b0c.1cb458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":704.8666381835938,"y":139.83334350585938,"wires":[]},{"id":"8e34dfa8.9e2008","type":"inject","z":"e6280b0c.1cb458","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":216.8666534423828,"y":130.75,"wires":[["a215d1eb.31dbf8"]]}]